@import url('bootstrap-responsive.css');
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}
footer {
	text-align: center;
}
